        /* 字体 */
        @font-face {
	        font-family: HarmonyOS_Sans_Bold;
	        src: url("/fonts/HarmonyOS_Sans_Bold.ttf");
        }    
        /* 页面1样式 */
        .topic{
            width: 100%;
            height: 90%;
        }
        .topic-box-1{
            width: 360px  ;
            height: auto ;
            border-radius: 30px ;
            background-color: rgb(255, 255, 255);
            opacity: 0.6;
            position: absolute;
            left:50%;
            top:40%;
            transform: translate(-50%, -50%);
             
        }
        .topic-h1{
            font-family: HarmonyOS_Sans_Bold;
            text-align: center;
            font-size: 50px ;
        }
        .topic-box-2{
            position: absolute;
            left:50%;
            top:55%;
            transform: translate(-50%, -50%);
        }
        .text{
            font-family: '楷体';
            display: inline-block;
            position: relative;
            font-size: 30px;
            height: 60px;
            line-height: 60px;
            color: rgb(0, 0, 0);
        }
        .text::after{
            content: '';
            position: absolute;
            right: -10px;
            top: 5px;
            height: 50px;
            width: 3px;
            border-radius: 50px ;
            background-color: #000000;
            animation: san 0.5s steps(1) infinite;
        }
        @keyframes san{
            0%,100%{
                background-color: #ffffff;
                opacity: 0.6;
            }
            50%{
               background-color: transparent;
            }

        }
        /* 正文页箭头跳动效果 */
        .topic-bu{
            border: none;
            background-color: #00000000;
        }
        .topic-box-3{
            width: 50px ;
            height: auto;
            position: absolute;
            left:50%;
            top:90%;
            transform: translate(-50%, -50%);
            
        }
        /* 页面2样式 */
        .topic-1{
            width: 100%;
            height: 100%;
            
        }
       
        .container {
            display: flex;
            padding: 40px ;
          }
          .left{
            width: 30%;
            height: 760px   ;
            background-color: rgb(255, 255, 255);
            opacity: 0.9;
            border-radius: 20px ;
            padding: 20px ;
            
          }
          .right{
            margin-left: 20px ;
            flex: 1;
            height:760px   ;
            background-color: rgb(255, 255, 255);
            opacity: 0.6;
            border-radius: 20px ;
            padding: 20px ;
          }
          
          .topic-1-con{
            display: flex;
            

          }
        .topic-1-h1{
            text-align: center;
            color: #000000b0;
           
        }
        .topic-1-p{
            text-align: center;
            color: #000000b0;
            font-size: 16px ;
            
        }
        .topic-div-1-img{
            width: 100px ;
            height: 100px ;
            margin-right: 5px ;
            vertical-align: middle;
        }
        
        /* 页面2内容 */

    </style>